$primary-color: #111;
$accent-color: #f5c542;
$text-light: #ffffff;

.hero-section {
  min-height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url("../galeri/galeri7.jpeg");
  background-size: cover;
  background-position: center;
  padding-top: 70px;
}

.menu-card img {
  height: 200px;
  object-fit: cover;
}

.menu-card:hover {
  transform: scale(1.02);
  transition: 0.3s ease;
  border: 1px solid $accent-color;
}

footer {
  background-color: $primary-color;
}

html {
  scroll-behavior: smooth;
}

.about-img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 12px;
}

#gallery .card {
  border-radius: 14px;
  overflow: hidden;
}

.gallery-box {
  width: 100%;
  aspect-ratio: 1 / 1; /* biar kotak */
  overflow: hidden;
  border-radius: 14px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.12);
}

.gallery-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-link {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.footer-link:hover {
  color: #f5c542;
  text-decoration: underline;
}